{% extends 'conductor/layout.html' %}

{% block content %}
{{ super() }}

<div class="container">
    <div>
        <canvas id="canvas"></canvas>
    </div>
</div><!-- container -->

{% endblock %}

{% block js %}
{{ super() }}

<script type="text/javascript">

var data = {
    labels: [
        "Dept review", "Review sent to county", "Count advertises", "Advertise period",
        "Bids tabbed", "Tabs sent to dept", "Awardee selected", "Award sent to county",
        "County to EORC", "EORC to controller"
    ],

    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40]
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 86, 27, 90]
        }
    ]
};

var options = {
    responsive: true,
    maintainAspectRatio: true

};

var ctx = document.getElementById("canvas").getContext("2d");
var MyBarChart = new Chart(ctx).StackedBar(data, options);

</script>

{% endblock %}
